[MASTER]
ignore-patterns=^tests/
load-plugins=pylint.extensions.mccabe

[MESSAGES CONTROL]
disable=all

enable=
    W0221,  # arguments-differ

    E0001,  # syntax-error (parsing failed)
    E0401,  # import-error
    E1101,  # no-member
    E1120,  # no-value-for-parameter
    E1123,  # unexpected-keyword-arg

    R0401,  # cyclic-import

    W0221,  # arguments-differ


[TYPECHECK]
ignored-modules=
    yaml,
    pydantic

[IMPORTS]
known-standard-library=
    asyncio,
    typing,
    dataclasses,
    sys,
    os,
    logging,
    traceback,
    enum,
    pathlib
