site_name: FailCore Docs
site_description: Execution-time safety runtime for AI agents

repo_url: https://github.com/zi-ling/failcore
repo_name: zi-ling/failcore

site_url: https://zi-ling.github.io/failcore/

docs_dir: docs
site_dir: site

theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.sections
    - content.code.copy
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          default: true
          build: true
        - locale: zh
          name: 简体中文
          build: true

extra:
  alternate:
    - name: English
      link: ./
      lang: en
    - name: 简体中文
      link: ./zh/
      lang: zh

nav:
  - Home: index.md
  - Getting Started: getting-started.md
